.THIS.Normal td th {
  display:inline;
  padding: 20px;
  float:left;
  table-layout:fixed;
}

.THIS.Normal table {
  border-collapse: separate;
}

.THIS.Normal div.horizontal {
   display:block;
   padding: 5px;
}

.THIS div b {
   color: rgb(22, 50, 92);
   font-size: 1rem;
}

.THIS div b span {
   color: rgb(22, 50, 92);
   font-size: 1.25rem;
}

.THIS.One td th {
    display:inline;
    margin:0;
    padding:0;
}

.THIS.One table {
    border-collapse: collapse;
}

.THIS.One div.horizontal {
    display:block;
    font-size: 100%;
    margin-right: 3%;
    width: 100%; /* or 100% according to OP comment. See edit about Safari 6 below */
}

.THIS.Two td th {
    display:inline;
    margin:0;
    width: 100%; /* or 100% according to OP comment. See edit about Safari 6 below */
    margin-right: 10%;

}

.THIS.Two table {
    border-collapse: collapse;
    table-layout:fixed;
}

.THIS.Two div.horizontal {
    display:inline;
    margin-right: 5%;
}

.THIS.Three td th {
    display:inline;
    margin:0;
    padding:0;
    table-layout:fixed;
}

.THIS.Three td {
	width: 25px;
}

.THIS.Three table {
    border-collapse: collapse;
}

.THIS.Three div.horizontal {
    display:inline;
    margin:5%;
}

.THIS .icono svg {
 fill: #3597CD;
}

.THIS tr th {
	background-color: #DEE5EE;
	color: #43557A;
	font-weight: bold;
}

.THIS tr:nth-child(2n+3) {
    background-color: #FAFAFA;
}

.THIS .dataRow:hover {
    background-color: #ECEEEF;
}

.THIS .dataRow {
    border-bottom: 1px solid #ddd;
    padding: .20rem .5rem;
}

.THIS .customBackground {
    background-color: rgb(243, 242, 242);
}

.THIS .cells-border {
     border:1px solid rgb(234, 234, 234);
}

.THIS .mobileCustomDiv {
	height:100%;
	width:100%;
}

.THIS table th:first-child{
    border-top-left-radius: 0.4em !important;
    border-bottom-left-radius: 0.4em !important;
}

.THIS table th:last-child{
    border-top-right-radius: 0.4em !important;
    border-bottom-right-radius: 0.4em !important;
}