.myicon {
    --slds-c-icon-color-background: #5867E8;
}

.modalClass{
    height: auto;
    width: auto;
    margin: 0rem;
    padding: 0rem;
} 

/*Contenedor*/
.slds-modal__container:has(.modal_modal_slds){
 max-width: 45rem;
    min-width: 30rem;
    width: auto;
}
/*Contenido*/
.slds-modal__container .modal_modal_slds{
    max-width: 45rem;
    min-width: 30rem;
    width: auto;
      
}

.slds-p-around_medium, .slds-p-around--medium {
    padding: 0;
}
.slds-button__icon_left, .slds-button__icon--left{
    margin-right: 0;
}

.slds-form-element .slds-dropdown_left {
    bottom: 100% !important;
    top: auto !important;
}

.separator{
    width: 30px;

}
.borderTop {
    border-bottom: 1.3rem solid;
    border-color: #f3f3f3;
}
.GCEStyle {
    height: 25px;
    width: 25px;
    position: relative;
    left: 5px;
    bottom: -8px;
    cursor: pointer;
}
.elementActionGCE {
    font-weight: bold;
    display: inline-flex;
    width: fit-content;
}
.imagetyleGCE {
    height: 30px;
    width: 30px;
    position: relative;
    text-align: right;
    
}
.elementActionStileGCE {
    display: inline-flex;
    width: fit-content;
}