/* .slds-button, .slds-p-horizontal_x-smalL{
    background-color: #f3f3f3;
    width: -webkit-fill-available;
    height:2.8rem;
} */
.slds-modal_medium, .slds-modal__container{
        margin: 0 auto !important;
        width: 80% !important;
        max-width: 60rem !important;
        min-width: 20rem !important;

}

.slds-p-around_medium, .slds-p-around--medium{
        padding: 0;
        border-radius: 0.25rem;
}

.slds-modal__content{
        padding: 0;
        border-radius: 0.25rem;
}

.hide-edit-icons .slds-icon,
.hide-edit-icons .slds-icon-container {
    pointer-events: none !important;
    visibility: hidden !important;
}