.THIS table.tableStyle {
    /*background-color: #f3f2f2;*/
    border-collapse:separate;
    border: 1px solid #dddbda;
    border-top: none!important;
    border-radius:4px;
    -moz-border-radius:4px;
}

.THIS td {
    background-color: #f3f2f2;
    border-left: 1px solid #dddbda;
    border-top: 1px solid #dddbda;
    padding-left: 10px;
    padding-top: 8px;
}


.THIS td:first-child {
     border-left: none;
}

.THIS H1.text-grey1 {
  color: #a8b7c7;
}

.THIS H1.text-grey2 {
  color: #72706d;
}

.THIS H1.text-grey3 {
  color: #c3d0de;
}

.THIS H1.text-black {
  color: black;
}

.THIS H1.text-medium {
  font-size: medium;
}

.THIS H1.text-large {
  font-size: large;
}

.THIS H1.text-small {
  font-size: smaller;
}

.THIS H1.text-bold {
  font-weight: bold;
}

.THIS H1.line-spacing-small {
  line-height: 95%;
}