.THIS .mainText {
    height:200px;
    text-align:center;
    padding-top:100px;
}
/* .THIS .floatRight {
    float:right;
}
.THIS .floatLeft {
    float:left;
} */
/* .THIS .spanFooterDesc {
    margin-right:10px;
} */
/* .THIS .spanFooter {
} */
/* .THIS .footerContainer {
    width:100%;
    margin-top:10px;
    max-height: inherit !important;
    max-width: inherit !important;
}
.THIS .canvasPie {
    height: 300px !important;
    width: 100%;
    max-height: inherit !important;
    max-width: inherit !important;
} */
.THIS .mainWrapper {
	/* width: 100%; */
    height:  50vh !important;
    /* height: 300px !important; */
}
/* .THIS .chartAreaWrapper {
    width: 300px;
    overflow-x: scroll;
}
.THIS.sWrapTest {
  height:100vh;
  width:100vw;
  padding-bottom: 250px;
}

.THIS .sWrapTestDesktop {
  height:100%;
  width:100%;
} */