.THIS .hrclass {
  margin-block-start: 0.2em !important;
  margin-block-end: 0.2em !important;
}
.THIS.c-container {
  border: 1px solid #d8dde6;
  margin: 10px 0 20px 0;
}
.THIS .page-section {
  border: solid 1px #ccc;
  padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
  height: 50px;
}
.THIS .page-main {
  background: #f8f8f8;
}
.THIS .page-left,
.THIS .page-right {
  background: #f0efef;
}
.THIS .iconMargin {
  margin-right:8px;
}
.THIS .listClass {
  box-sizing: content-box !important;
  width: 100% !important;
}
.THIS .content-fix {
  text-align: left !important;
}
.THIS .icon {
  margin-right: 10px !important;
}