.THIS .slds-table_header-fixed_container {
  border-left:1px solid rgb(243, 242, 242) !important;
  border-right:1px solid rgb(243, 242, 242) !important;
}

.THIS.customNoData {
  padding:15px;
  text-align: center;
  border:1px #CDCDCD solid;
  border-radius:5px;
}

.THIS .customBox {
  border-top: 2px solid #e5e5e5;
}

.THIS .title {
  font-size: 14px;  
  font-weight: 400;
  color: #03234d;
}

.THIS .subtitle {
  font-size: 20px;  
  font-weight: 400; 
  color: #03234d;
}

.THIS .badgenodata {
  --slds-c-badge-color-background: #f3f3f3;
  --slds-c-badge-radius-border: 4px;
}

.THIS.boxsection {
  border-radius: 0.75rem;
  border: 2px solid #e5e5e5;
  background-color:#FFF;
}