.THIS .content{
    border:1px #CDCDCD solid; 
    border-radius:5px; 
    margin:5px;
    padding:20px 10px 10px 10px;
}

.THIS h1{
    font-weight:bold; 
    font-size:1.3em;
}

.THIS .customContainer {
	background-color:#FFF;
	border-top:1px solid rgb(243, 242, 242);
	border-left:1px solid rgb(243, 242, 242);
	border-right:1px solid rgb(243, 242, 242);
}