.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 50px;
  font-size: 30px;
}


.style-margin-left {
	margin-left: 25px;
}


.style-div {
	border: 1px solid #e0e3e5;
	padding: 6px 3px 5px 6px;
}