.radio-container {
    position: relative;
}

/* Forzamos el link a la MISMA línea que el radio "Line" */
.line-link {
    position: absolute;
    left: 3.5rem;     /* mueve el texto a la derecha del radio */
    top: 1.65rem;     /* baja hasta el segundo radio */
    cursor: pointer;
    color: #0176d3;
    text-decoration: underline;
    font-size: 0.875rem;
}

.line-link:hover {
    text-decoration: none;
}