.spinner-container {
    text-align: center;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner-message {
    margin-top: 6.5rem; /* Increase spacing from spinner */
    font-size: 1rem;
    color: #333;
    max-width: 90%;
}

.full-height-content {
    height: 90rem;
    overflow-y: auto;
    position: relative;
    min-height: 90rem;
}