/* Uso */
.fill-available-custom {
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
}


th.notLinkAccess * > lightning-formatted-url > a {
    color: black !important;
    pointer-events: none !important;
}
td.notLinkAccess * > lightning-formatted-url > a {
    color: black !important;
    pointer-events: none !important;
}