.dmt_Irene .slds-modal_medium .slds-modal__container{
    width: auto;
    max-width: 80rem !important;
    min-width: 55rem !important;

}

.dmt_Irene .slds-modal__container .slds-p-around_medium, .slds-p-around--medium {
    padding: 1rem !important;
}

.slds-scrollable_y {

  height:auto;
  width:auto;

}

 c-datatable-picklist .slds-dropdown-trigger_click,  .slds-dropdown-trigger--click {
    display: block;
    height: inherit;
}

c-datatable-picklist .slds-dropdown{
    position: relative;
}

/* Corrección para el dropdown de picklist en OmniStudio */
c-datatable-picklist .slds-combobox__dropdown {
  max-height: 5rem !important; /* Muestra solo 4 ítems aprox. */
  overflow-y: auto !important;  /* Scroll para el resto */
  z-index: 9999 !important;     /* Que se muestre por encima */
  position: absolute !important;
}

.slds-icon-text-info .slds-form-element__icon {
    padding-top:0 !important; 
}