.fixTable {
    padding-top: 0;
    background-color: none;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.vh60 {
    height: 60vh;
}

.downloadcsv {
    --lwc-spacingXSmall: 0px;
    --lwc-spacingMedium: 9px;
}