.THIS .backgroudCustom {
  background-color: #eee;
  color: #4a4a4a;
}

.THIS .sectionChevronIcon {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(90deg);/* Firefox */
  -o-transform: rotate(90deg);/* Opera */
  transform: rotate(90deg);
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
}

.THIS .sectionChevronIconDown {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(0deg);/* Firefox */
  -o-transform: rotate(0deg);/* Opera */
  transform: rotate(0deg);
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
}

.THIS div.sectionChevronIcon{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
     -moz-transform: rotate(-90deg);/* Firefox */
     -o-transform: rotate(-90deg);/* Opera */
    transform: rotate(-90deg);
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
}