.THIS .titulo {
    font-size: 16px;
    color: #3597CD;
}

.THIS .icono svg{
 fill: #3597CD;
}

.THIS tr th {
	background-color: #DEE5EE;
	color: #43557A;
	font-weight: bold;
}

.THIS tr:nth-child(2n+3) {
    background-color: #FAFAFA;
}