.THIS .content{
    border:1px #CDCDCD solid;
    border-radius:5px;
    margin:5px;
    padding:20px 10px 10px 10px;
}
.THIS h1{
    font-weight:bold;
    font-size:1.3em;
}
.THIS .pCenter {
    height:200px;
    text-align:center;
    padding-top:100px;
}
.THIS .customBox {
    padding:30px 30px 50px 30px;
}
.THIS .maxDimensions {
    height:100%; width:100%;
}

.THIS.customDiv{
	padding:30px 30px 50px 30px;
	margin-top: 10px;
}

.THIS .customP {
	height:200px;
	text-align:center;
	padding-top:100px;
}

.THIS .customCanvas {
	width:300;
}

.THIS .customDiv2 {
	width:100%;
	margin-top:10px;
}

.THIS .customA {
	float:left;
}

.THIS .customSpan {
	margin-right:10px;
}

.THIS .customSpan2 {
	float:right;
}

.THIS.mobileCustomDiv {
	padding:30px 30px 50px 30px;
	height:100%;
	width:100%;
	margin-top:10px;
}

.THIS b {
    color: #43557A;
}

.THIS p {
    font-size: 0.8em;
    color: #7087A3;
}