.combobox-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 9rem;
}



:host .combobox-wrapper ::part(combobox) {
    width: 100%;
}

/* Hacer que el dropdown salga por encima sin expandir la celda */
.combobox-dropdown .slds-dropdown-trigger_click .slds-dropdown, .slds-dropdown-trigger--click .slds-dropdown {
    min-height: 4rem !important;
    height: auto !important;
    max-height: 10.2rem !important;
    top: 2rem !important;
    z-index: 99999 !important;
    background-color: red !important; /* Solo para pruebas, eliminar después */
}

/*.slds-dropdown-trigger_click .slds-dropdown, .slds-dropdown-trigger--click .slds-dropdown{
    height: auto;
    z-index: 9999 !important;
    position: absolute !important;
} 

 .slds-dropdown-trigger_click,  .slds-dropdown-trigger--click {
    display: contents;
    height: inherit;
    position: relative;
    z-index: 9999 !important;
}*/
.slds-form-element__control{
    position: relative;
    width: 19rem;
    max-width: 29vh;
    z-index: 9999 !important;
}
/*.slds-dropdown{
    position: absolute;
    width: 19rem;
    max-width: 29vh;
    z-index: 9999 !important;
}*/



.tiny-toggle {
  display: inline-block;
  transform: scale(0.60);    
  transform-origin: center;
}


.meta {
  display: block;
  font-size: 0.87em;
  margin-top: 0.1rem;
}
.toggle-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-left: 10px; 
}

.priority-label {
  font-size: 0.60rem;  
  line-height: 1;    
  margin-bottom: 2px;
  color: #444;       
}