.file-name-cell {
    --slds-c-icon-width: 1.5rem;
    --slds-c-icon-height: 1.5rem;
    --lwc-squareIconMediumContentArea: 1.5rem;
    --slds-c-button-icon-size: 1.5rem;
}

.drop-zone {
    position: relative;
    min-height: 300px;
}

.drop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px dashed rgb(85, 147, 255);
    border-radius: 0.5rem;
    pointer-events: none;
}

/* BORDE PARA TODO */
.wrap {
    border: 1px solid #acacac;   
    border-radius: 0.25rem;
    background: #fff;
    overflow: hidden; 
  }
  .header {
    padding: 0.75rem 1rem;
    /* border-bottom: 1px solid #d8dde6; */
    background: #fff;
  }

  .body {
    padding: 0 1rem 1rem 1rem;
  }
 
  .table-container {
    max-height: 300px;
    overflow: auto;
  }
  .slds-media__figure {
    display: flex;
    align-items: center;
  }
  .file-name-cell {
    min-width: 350px;
}
.file-name-cell lightning-primitive-icon {
  margin-right: 12px;
  --slds-c-icon-color-foreground: #ad0000;
}

.pdf-modal-large .slds-modal__container {
    max-width: 80% !important; 
    width: 80% !important;
}

.pdf-modal-large .slds-modal__content {
    height: 85vh !important;
    max-height: 85vh !important;
    display: flex;
    flex-direction: column;
}

.pdf-modal-large .c-pdf-viewer-component {
  flex-grow: 1;
  height: 100%;
}
c-preview-pdf {
    flex-grow: 1;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.pdf-modal-large .slds-modal__header .slds-button.slds-modal__close {
  background-color: transparent !important; 
  border: none !important; 
  box-shadow: none !important;
}

.pdf-modal-large .slds-modal__header .slds-modal__close lightning-icon {
  --sds-c-icon-color-foreground: white !important;
  --sds-c-icon-color-foreground-default: white !important;
}

.pdf-modal-large .slds-modal__header .slds-modal__close:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}