.THIS .slds-button__icon_hint{
	fill: rgb(236, 235, 234);
}

.THIS .slds-button_icon-bare {
	color: rgb(236, 235, 234);
}

.THIS .icono-ayuda .slds-button__icon {
	color: rgb(176, 173, 171);
}

.THIS label.slds-form-element__label {
      display : none;
      visibility : hidden;
}

.THIS .cbRemoveLabel span.slds-form-element__label {
      display : none;
      visibility : hidden;
}

.THIS legend.slds-form-element__legend {
      display : none;
      visibility : hidden;
}

.THIS span.removeLabel {
      display : none;
      visibility : hidden;
}

.THIS .errorIP {
    padding: 0.5rem;
    background: rgba(27, 82, 151, 1);
}

.THIS .customRequired {
    font-weight: 400;
}
.THIS .customRequired:before {
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}
.THIS .cabecera-secundaria {
    height:22px;
    background-color: rgb(84,105,141) !important;
}
.THIS .cabecera-principal {
    font-weight: bold !important;
}
.THIS .padding-left-0 {
    padding-left: 0px !important;
}
.THIS label{
    display : none !important;
    visibility: hidden !important;
  }

.THIS .slds-checkbox label {
    display: block !important;
    visibility: visible !important;
}

.THIS .my-last-item {
	padding-bottom: 50px;
}

.THIS .my-footer {
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    position: fixed;
    border: white;
    z-index: 3;
    max-width: 67%;
    min-width: 564px;
}