.THIS .slds-form-element__legend.slds-form-element__label {
  display: none !important;
}

.THIS .selectRT .slds-form-element__control {
  float: right;
  text-align: left;
  width: 65%;
}

.THIS .uiMessage.error {
  border-color: rgb(194, 57, 52);
  background-color: rgb(194, 57, 52);
}

.THIS .slds-icon-action-close {
  background-color: rgb(194, 57, 52);
}

.THIS .bBody {
  color: white !important;
  font-weight: bold;
}