.modalClass{
    height: auto;
    width: auto;
    margin: 0rem;
    padding: 0rem;
} 

.slds-modal_medium .slds-modal__container{
    width: auto;
    max-width: 75rem;
    min-width: 30rem; 
}
.modal_modal_slds[clsas="slds-modal_medium .slds-modal__container"]{
    max-width: var(--sizeSmall,75rem);
    min-width: var(--sizeXxSmall,30rem);
    width: auto;
     
     
}
.slds-p-around_medium, .slds-p-around--medium {
    padding: 0;
}
.slds-button__icon_left, .slds-button__icon--left{
    margin-right: 0;
}