/* .slds-button, .slds-p-horizontal_x-smalL{
    background-color: #f3f3f3;
    width: -webkit-fill-available;
    height:2.8rem;
} */
.slds-modal_medium, .slds-modal__container{
        margin: 0 auto !important;
        width: 80% !important;
        max-width: 60rem !important;
        min-width: 20rem !important;

}

.slds-p-around_medium, .slds-p-around--medium{
        padding: 0;
        border-radius: 0.25rem;
}
.table_height{
    height: calc(40vh - (7.625rem + 2.5rem + 0.75rem) - 160px) !important;
    padding-right: 12px !important;
}

/*.slds-modal__content{
        padding: 0;
        border-radius: 0.25rem;
}*/