.dmt_Irene .slds-modal_medium .slds-modal__container{
    width: auto;
    max-width: 80rem !important;
    min-width: 55rem !important;

}

.dmt_Irene .slds-modal__container .slds-p-around_medium, .slds-p-around--medium {
    padding: 1rem !important;
}


 .slds-dropdown-trigger_click .slds-dropdown, .slds-dropdown-trigger--click .slds-dropdown{
    height: 5.2rem;
} 
.slds-button__icon_left, .slds-button__icon--left{
    margin-right: 0;
}
 .slds-dropdown-trigger_click,  .slds-dropdown-trigger--click {
    display: block;
    height: inherit;
}
.slds-form-element__control{
    position: relative;
    width: 19rem;
    max-width: 29vh;
}
.slds-dropdown{
    position: relative;
    width: 19rem;
    max-width: 29vh;
}