.THIS .content{
    border:1px #CDCDCD solid;
    border-radius:5px;
    margin:5px;
    padding:20px 10px 10px 10px;
}
.THIS h1{
    font-weight:bold;
    font-size:1.3em;
}
.THIS .pCenter {
    height:200px;
    text-align:center;
    padding-top:100px;
}
.THIS .customBox {
    padding:30px 30px 50px 30px;
}
.THIS .maxDimensions {
    height:100%; width:100%;
}

.THIS.customDiv{
    padding:30px 30px 50px 30px;
}

.THIS .customP {
    height:200px;
    text-align:center;
    padding-top: 80px;
}

.THIS .customCanvas {
    width:300;
}

.THIS .customDiv2 {
    width:100%;
    margin-top:10px;
    margin-bottom:25px;
}

.THIS .customA {
    float:left;
}

.THIS .customSpan {
    margin-right:10px;
}

.THIS .customSpan2 {
    float:right;
}

.THIS.mobileCustomDiv {
    padding:30px 30px 50px 30px;
    height:100%;
    width:100%
}

.THIS .sectiontitle {
  color: #03234d;
}

.THIS.boxsection {
  border-radius: 0.75rem;
  border: 2px solid #e5e5e5;
  background-color:#FFF;
}

.THIS .weight700 {
  font-weight: 700;
  color: #5c5c5c;
}

.THIS .radiusbutton {
  --slds-c-button-radius-border: 25px;
}

.THIS .badgenodata {
  --slds-c-badge-color-background: #f3f3f3;
  --slds-c-badge-radius-border: 4px;
}