.THIS .conditions_section {
  justify-content: left;
  height: 0.75rem;
  line-height: 1;
}

.THIS .indeterminated .slds-checkbox_faux {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%3E%3Crect%20fill%3D%22%23295293%22%20height%3D%222%22%20width%3D%228%22%20x%3D%223%22%20y%3D%226%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.THIS .checkbox-flat {
  position: absolute;
  top: 12px;
  left: 30px;
  z-index: 999;
}

.THIS .warning {
  color: #c9c200;
}

.THIS .flatpad {
  margin-left: 1.9em;
}

.THIS .family-flat .slds-truncate {
  padding-left: 21px;
}

.THIS .family-flat .slds-accordion__summary-content {
  padding-left: 21px;
}

.THIS .conditions_select_accordion {
  --sds-c-accordion-color-border: #fff;
  --sds-c-accordion-summary-color-background: #fff;
  --sds-c-accordion-heading-font-size: 0.95rem;
  --sds-c-accordion-sizing-border: 0;
  --sds-c-accordion-heading-line-height: 1.25;
  --sds-c-accordion-heading-text-color: #080707;
  --sds-c-accordion-heading-text-color-hover: #005fb2;
}